<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form ng-submit="login()">
      <div class="form-group">
        <label>{{'_lblEmail_' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{'_userID_' | translate}}" ng-model="user.id">
      </div>
      <div class="form-group">
        <label>{{'_lblPassword_' | translate}}</label>
        <input type="password" class="form-control" placeholder="{{'_password_' | translate}}" ng-model="user.passwd">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">{{'_remember_' | translate}}
        </label>
      </div>
      <button type="submit" class="btn btn-default">{{'_submit_' | translate}}</button>
    </form>
  </div>
</div>