<div class="row" role="navigation">
  <div ui-view="navbar"></div>
  <div ui-view="tab"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div ui-view="sidebar"></div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div ui-view="content"></div>
    </div>
  </div>
</div>